.slide_box{
    width: 100%;
    overflow: hidden;
}
.slide_wrap{
    width: 5760px;
}
.slide_item{
    float: left;
}
.slide_item img{
    width: 1920px;
}

.header{
    display: flex;
    align-items: center;
    width:100%; height: 100px;
    justify-content: space-around;
}
.header_logo{
    display: flex;
    
}
.header_search{
    position: absolute;left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: inset 0 0 3px 0 #8f91b6, 0 0 3px 0 #8f91b6;
    margin-top: 20px;
}
.header_search input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: white;
}
.header_search button{
    width: 30px;
    height: 30px;
    background: white;
    border: white;
    border-radius: 15px;
}
ion-icon {
    font-size: 30px;
}

.header_nav{
    position: absolute;right: 150px;
    display: flex;
    width: 500px;
    height: 50px;
    margin-top: 20px;
}
.nav_menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.mypage{
  width: 170px;
  height: 56px;
  margin-top: 35px;
  background-image: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=17");
  background-position: -469px -3px;;
}

.header_nav a{
    color: #9c9c9c;
    font-size: 13px;
    font-weight: 400;
}
.cate_cate0{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #c5c5c5;
}
.cate0_left{
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 17px;
}
.cate0_left a{
    color: #FF9995;
}
.cate0_left img{
    width: 35px;
    height: 25px;
}
.cate0_right{
    display: flex;
    justify-content: space-around;
    width: 650px;
    margin: 0 0 0 134px;
}
.cate0_right a{
    color: #818181;
    font-size: 14px;
}

.cate_cate1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.cate1_list{
    display: flex;
    width: 1300px;
    justify-content: space-between;
}
.cate1_list a{
    color: #818181;
    font-size: 14px;
}
.main_slide{
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.main_wrap{
    position: absolute;
    top: 0;
    width:15440px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: 0.5s ease-out;
}
.main_wrap li:not(:last-child) {
    float: left;
  }
  .controller span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 40%;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
  } /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover {
    background-color: rgba(128, 128, 128, 0.11);
  }
  .prev {
    left: 20px;
  } /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover {
    transform: translateX(-10px);
  }
  .next {
    right: 10px;
  } /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover {
    transform: translateX(10px);
  }

  .wrap_inner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 365px;
  }
  .maincontents_trend{
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 1000px;
  }
  .maincontents_trend ul{
    display: flex;
  }
  .maintitle{
    display: flex;
    width: 100%;
    font-size: 22px;
    padding: 30px 0 32px 0;
    padding-bottom: 35px;
  }
  .maintitle a{
    color: black;
  }
  .trend_pic ul{
    display: flex;
    justify-content: space-between;
  }


  .wrap_inner2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2250px ;
  }

  .wrap_inner2 img{
    width: 276px;
    height: 327px;
    border-radius: 15px;
  }
  .plus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }
  .plus button{
    width: 170px;
    height: 50px;
    border:1px solid #c2bbbb;
    background: white;
  }
.info{
    display: flex;
    flex-direction: column;
    width: 276px ;
    height:200px;
    margin-top: 15px;
}
.name{
    font-size:14px ;
    margin-top: 5px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.price span{
    font-size: 16px;
    text-decoration:line-through;
    color: #939393;
    font-weight: 600;
}
.price img{
    width: auto;height: auto;
}
.attprice p{
    font-size:20px;
    color: #333333;
    font-weight: bolder;
}
.attprice span{
    color: #FF9995;
}
.count{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #969696;
}
.event_banner{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;height: 300px;
}
.event_block{
  display: flex;
  justify-content: center;
  width: 1380px;
  height: 400px;
  overflow: hidden;
}

.banner{
  position: relative;
  display: flex;
  width: 1380px;
  height: 170px;
}
.banner img{
  margin-right: 15px;
  list-style: none;
}
.controller1 span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 10%;
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
}
.prev1{
  left: 180px;
}
.next1{
  right: 180px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  border-top:1px solid #5555;
}
.footer_top{
  display: flex;
  justify-content: space-between  ;
  width: 1300px;
  height: 470px;
}
.top_r{
  width: 380px;
  height: 100%;
}
.footer_top li{
  margin-top: 12px;
}
.top_c{
  width: 380px;
  height: 100%;
}
.top_l{
  width: 380px;
  height: 100%;
}

.footer_top h3{
  margin-top: 30px;
}
.footer_top img{
  margin: 20px 0 0 35px;
  border-radius: 15px;
  width: 270px; height: 150px;
}
.social{
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-image: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=17");
  background-position: -305px -453px;;
}
.bottom{
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #5555;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:1300px;
  height: 100px;
}
.footer_bottom ul{
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .b2{
  width: 400px;
}
.footer_bottom a{
  font-size: 13px;
  font-weight: bold;
  color: black;
}
